/* components.css */

/* @tailwind variants; */

@layer components {
  /* Component styles */
  .auth-input {
    @apply h-10 rounded-md border border-slate-700 bg-white px-2 transition-colors duration-300;
    @layer utilities {
      .dark & {
        @apply border-[#646464] bg-[#3A3F56] text-[#C4C4C4];
      }
    }
  }
  .auth-input:focus {
    @apply outline-none;
  }
  .auth-label {
    @apply self-start font-semibold text-slate-700 transition-colors duration-300;
    @layer utilities {
      .dark & {
        @apply text-[#808080];
      }
    }
  }
  .auth-header {
    @apply text-3xl font-semibold text-slate-700 transition-colors duration-300;
    @layer utilities {
      .dark & {
        @apply text-white;
      }
    }
  }
  .auth-link {
    @apply ml-3 font-semibold text-blue-700 transition-colors duration-300;
    @layer utilities {
      .dark & {
        @apply text-white;
      }
    }
  }
  .auth-select {
    @apply h-10 rounded-md border border-slate-700 bg-white px-2 transition-colors duration-300;
    @layer utilities {
      .dark & {
        @apply border-[#646464] bg-[#3A3F56] text-[#C4C4C4];
      }
    }
  }
  .folder {
    @apply relative flex h-[175px] w-[245px] flex-col items-center justify-center gap-[10px] rounded-[10px] bg-[#F0F0F0] transition-colors duration-300;
    @layer utilities {
      .dark & {
        @apply bg-[#2C3659] text-[#fff];
      }
    }
  }
  .loader {
    width: 45px;
    aspect-ratio: 0.75;
    --c: no-repeat linear-gradient(theme(colors.stone.800) 0 0);
    background:
      var(--c) 0% 50%,
      var(--c) 50% 50%,
      var(--c) 100% 50%;
    background-size: 20% 50%;
    animation: loading 1s infinite linear;
  }
  @keyframes loading {
    20% {
      background-position:
        0% 0%,
        50% 50%,
        100% 50%;
    }
    40% {
      background-position:
        0% 100%,
        50% 0%,
        100% 50%;
    }
    60% {
      background-position:
        0% 50%,
        50% 100%,
        100% 0%;
    }
    80% {
      background-position:
        0% 50%,
        50% 50%,
        100% 100%;
    }
  }
}

@layer utilities {
}
